/* Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.aside {
  font-size: .9rem;
  letter-spacing: .02rem;
}

span.small-header-emoji {
  font-size: 1.2rem;
  position: relative;
  top: -1rem;
}

#projects li {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}

#projects .project-image img {
  width: 30px;
}

#internets nav a {
  color: #333;
  margin-right: 30px;
}

#internets nav ul {
  display: flex;
  flex-direction: row;
}




/* Skellington overwrites
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html { font-size: 100%; }
body { font-size: 1.3em; }

h1 { font-size: 3.7rem; line-height: 1;  letter-spacing: -.05rem; }
h2 { font-size: 2.8rem; line-height: 1.2;  letter-spacing: -.05rem; }
h3 { font-size: 1.4rem; line-height: 1.2;  letter-spacing: 0rem; font-weight: bold; }

a { text-decoration: none; }
li { list-style-type: none; }

.container {
  margin: 0;
  max-width: 650px;
  padding-bottom: 400px;
}

.row {
  padding: 10% 0 30% 10%;
}


